---
// filepath: /src/components/ContactInfo.astro
const address = import.meta.env.PUBLIC_ADDRESS;
const phone = import.meta.env.PUBLIC_PHONE_NUMBER;
const email = import.meta.env.PUBLIC_EMAIL;
---

<div>
  <p>Lukas Yair Lehmann</p>
  <p>Address: {address}</p>
  <p>Phone: {phone}</p>
  <p>Email: <a href={`mailto:${email}`}>{email}</a></p>
</div>
<br />
