---
import Layout from "~/layouts/PageLayout.astro";

import Header from "~/components/widgets/Header.astro";
import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
import { Seo } from "astro-seo-meta";
import { Schema } from "astro-seo-schema";

import myJourney from "~/assets/images/my-journey.jpg";
---

<Seo
  title="About - Lukas Yair Lehmann | UX Designer & Accessibility Advocate"
  description="Learn about Lukas Yair Lehmann, a UX designer creating accessible, inclusive experiences. Explore his journey, skills, and passion for user-first design."
  keywords={["UX Designer", "Accessibility Advocate", "Lukas Yair Lehmann", "User Experience", "Inclusive Design", "Neurodiversity", "Digital Solutions", "Design Portfolio", "UX Design Skills", "UX Design Experience"]}
  icon="~/assets/favicons/favicon.ico"
  robots='index, follow'
  facebook={{
    image: "~/assets/images/hero-image.jpeg", // Replace with a default image path
    url: "https://lylehmann.com/about",
    type: "website",
  }}
  twitter={{
    image: "~/assets/images/hero-image.jpeg", // Replace with a default image path
    site: "@lylehmann",
    card: "summary_large_image",
  }}
/>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    "dateCreated": "2025-15-01",
    "dateModified": "2025-01-29",
    "mainEntity": {
      "@type": "Person",
      "name": "Lukas Yair Lehmann",
      "alternateName": "Lukas Lehmann",
      "identifier": "lylehmann",
      "description": "UX Designer and Accessibility Advocate",
      "image": "https://lylehmann.com/assets/images/hero-image.jpeg",
      "sameAs": [
        "https://www.linkedin.com/in/lylehmann/",
        "https://github.com/lylehmann",
      ],
    }
  }}
/>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: [
      {
        "@type": "ListItem",
        position: 1,
        name: "Home",
        item: "https://lylehmann.com",
      },
      {
        "@type": "ListItem",
        position: 2,
        name: "About",
        item: "https://lylehmann.com/about",
      },
    ],
  }}
/>

<Layout>
  <!-- Header Widget ***************** -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'Portfolio', href: '/portfolio' },
        { text: 'About', href: '/about' }
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">From Empathy to Innovation<br><span class="font-semibold text-4xl">Crafting Inclusive Digital Products & Experiences with Impact</span></Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/lylehmann',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/lylehmann/',
        },
      },
      {
        icon: 'tabler:code',
        callToAction: {
          target: '_blank',
          text: 'WBSCS',
          href: '/',
        },
      },
    ]}
    image={{ src: myJourney, alt: 'A wood, curvy street with cars' }}
    classes={{ container: 'flex flex-col-reverse md:flex-row' }}
  >
    <Fragment slot="content">
      <h2 class="mb-2 font-bold text-2xl sm:text-3xl tracking-tight">
        Turning Challenges Into Digital Solutions<br><span class="font-medium text-xl">My Journey in Frontend & Product Engineering</span>
      </h2>
      <p>Hi, I’m Lukas. My story starts in disability support, where I learned the power of empathy and clear communication. Helping people with special needs taught me to see the world through different eyes—and to build things that work for everyone.</p>
      <br />
      <p>Curious about technology, I became a webmaster. I fixed broken sites, made them easier to use, and showed teams how to do the same. I loved making the web a friendlier place.</p>
      <br />
      <p>In publishing, I coordinated projects and worked with different people to get things done. When I was diagnosed with ADHD, it changed how I saw my own strengths. I realized my creativity and drive to help others could make a real impact in tech.</p>
      <br />
      <p>Today, I use everything I’ve learned—empathy, tech skills, and a love for problem-solving—to design and build digital products that are simple, accessible, and truly helpful for everyone.</p>
      <br />
      <p>If you want to build something that makes a difference, let’s talk!</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 gap-1 bg-custom-light dark:bg-custom-dark"></div>
    </Fragment>
  </Content>
