---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { Seo } from 'astro-seo-meta';
import { Schema } from 'astro-seo-schema';

const email = import.meta.env.PUBLIC_EMAIL; // Add this line to import the email from the .env.local file

---

<Seo
      title="Home - Lukas Yair Lehmann | UX Designer | Accessibility"
      description="Creating accessible digital experiences for everyone. From UX design to disability advocacy, I build inclusive solutions that meet diverse user needs."
      keywords={["UX Designer", "Accessibility", "Lukas Yair Lehmann", "UX Design", "User Experience", "Inclusive Design", "Neurodiversity", "Digital Solutions", "Design Portfolio"]}
      icon="~/assets/favicons/favicon.ico"
      robots='index, follow'
/>

<Schema
            item={
                {
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    name: "Lukas Yair Lehmann | UX Designer",
                    url: "https://lylehmann.com",
                    author: {
                        "@id": "https://lylehmann.com/#person",
                        "@type": "Person",
                        name: "Lukas Yair Lehmann",
                        jobTitle: "UX Designer",
                        url: "https://lylehmann.com",
                        sameAs: ["https://www.linkedin.com/in/lylehmann/", "https://github.com/lylehmann"],
                        email: email, // Use the imported email variable here
                            }
                        }
                    }
                />
                <Schema
                    item={
                        {
                            "@context": "https://schema.org",
                            "@type": "BreadcrumbList",
                            itemListElement: [
                                {
                                    "@type": "ListItem",
                                    position: 1,
                                    name: "Home",
                                    item: "https://lylehmann.com"
                                }
                            ]
                        }
                    }
                />

<Layout>
  <!-- Header Widget ***************** -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/'},
        { text: 'Porfolio', href: '/portfolio' },
        { text: 'About', href: '/about' },
        { text: 'Resume', href: '/resume' },
      ]}
      actions={[
        {
          text: 'Meet me',
          href: 'https://calendly.com/lylehmann',
          target: '_blank',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Explore My Portfolio',
        href: '/portfolio',
      },
      { text: 'Learn About Me', href: '/about' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpeg', alt: 'Lukas Lehmann', width: 800, height: 800 }}
  >
    <Fragment slot="title"> Hi, I'm Lukas 👋 <br> <span class="text-4xl font-semibold text-blue-600 dark:text-blue-300">Inclusive UX Designer Creating Accessible Digital Experiences</span></Fragment>

    <Fragment slot="subtitle">
      I specialize in designing inclusive and user-friendly solutions, with a focus on accessibility and neurodiversity.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="value"
    columns={1}
    items={[
      {
        icon: 'tabler:empathize',
        description: '<span class="font-semibold">Empathy-driven Design</span>'
      },
      {
        icon: 'tabler:accessible',
        description:'<span class="font-semibold">Accessibility Advocacy</span>',
      },
      {
        icon: 'tabler:ux-circle',
        description: '<span class="font-semibold">User-Centered Problem Solving</span>',
      },
    ]}
    image={{ src: '~/assets/images/inclusive-design.png', alt: 'People Having a Meeting at the Office' }}
    classes={{ container: 'flex flex-col-reverse md:flex-row' }}
  >
    <Fragment slot="content">
      <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        Designing for Inclusion, Innovation, and Impact
      </h2>

      <p>
        With a background in disability work, website and project coordination as well as in UX design, I create digital solutions that are not only functional but also truly accessible. My mission is to ensure that every user - regardless of ability or neurodiversity - feels empowered and supported when interacting with technology.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 gap-1 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="portfolio"
    title="Explore My Work"
    isReversed
    items={[
      {
        title: 'Challenge',
        description:
          ' Staying productive with ADHD, as student and in the home office.',
      },
      {
        title: 'Solution:',
        description:
          'A macOS app that fosters focus, accountability, and connection.',
      },
    ]}
    image={{
      src: '~/assets/images/FocusBuddy.png',
      alt: 'FocusBuddy app main screen showing focus and accountability features',
    }}
    callToAction={{
      text: 'View Case Study',
      icon: 'tabler:chevron-right',
      href: '/focusbuddy-case-study',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        FocusBuddy:<br /><span class="text-2xl">A Safe Space for Focus and Accountability</span>
      </h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Challenge:',
        description:
          'Helping neurodivergent individuals with oral hygiene.',
      },
      {
        title: 'Solution:',
        description: `A gamified mobile app with music and routines for personalized care.`,
      },
    ]}
    image={{
      src: '~/assets/images/BrushingBuddy.png',
      alt: 'BrushingBuddy app showing gamification and music integration features',
    }}
    callToAction={{
      text: 'View Case Study',
      icon: 'tabler:chevron-right',
      href: '/brushbuddy-case-study',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        BrushingBuddy: <br /><span class="text-2xl"> Simplifying Oral Care Routines</span>
      </h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Challenge:',
        description: `Bringing a unique café-bakery-yoga venue online.`,
      },
      {
        title: 'Solution:',
        description: `Engaging digital experiences through web and mobile design.`,
      },
    ]}
    image={{
      src: '~/assets/images/Metta.png',
      alt: 'Das Metta cafe, bakery, and yoga space',
    }}
    callToAction={{
      text: 'View Case Study',
      icon: 'tabler:chevron-right',
      href: '/metacafe-case-study',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        Meta Cafe: <br /><span class="text-2xl">Bridging Digital and Physical Experiences in Munich</span>
      </h3>
    </Fragment>
  </Content>

  <!-- About Me Widget **************** -->
  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={1}
    items={[
      {
        callToAction: {
          text: 'Learn More About Me ',
          icon: 'tabler:chevron-right',
          href: '/about',
        },
      },
    ]}
    image={{ src: '~/assets/images/my-journey.jpg', alt: 'Wood, curvy street with cars' }}
    classes={{ container: 'flex flex-col-reverse md:flex-row' }}
  >
    <Fragment slot="content">
      <h2 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        From Empathy to Innovation: <br> My Journey into UX Design
      </h2>

      <p>
        I started my career in disability work, where I learned the importance of empathy and accessibility. From there, I transitioned into UX design, combining my diverse experiences with technical skills to create meaningful digital solutions. Curious about my story?
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 gap-1 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills That Bring Ideas to Life"
    subtitle="With a strong foundation in UX product design, accessibility, and design tools, I bridge creativity and functionality to deliver impactful solutions. <br> <br> Here is how I can help your project succeed:"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Design Tools',
        description:
          'Figma, Adobe XD, Sketch',
      },
      {
        title: 'Web Development Skills',
        description:
          'HTML, CSS, WordPress',
      },
      {
        title: 'Methodologies',
        description:
          'Agile, Scrum, Design Thinking, Service Design',
      },
      {
        title: 'Specialties',
        description:
          'Accessibility, Inclusive UX/UI, User-Centered Design',
      },
      {
        title: 'Research',
        description:
          'User Research, Usability Testing, A/B Testing',
      },
      {
        title: 'Project Management',
        description:
          'Jira, Trello, Asana, Microsoft Project',
      },
      {
        title: 'Analytics',
        description:
          'Google Analytics, Microsoft Clarity',
      },
      {
        title: 'Design Systems',
        description:
          'Creating and maintaining design systems',
      },
      {
        title: 'Collaboration',
        description:
          'Cross-functional teamwork, stakeholder management',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    actions={[
      {
        variant: 'primary',
        text: 'Find Me on LinkedIn',
        href: 'https://www.linkedin.com/in/lylehmann/',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Email Me',
        href: `mailto:${email}`, // Update this line to use the imported email
      },
    ]}
  >
    <Fragment slot="title"> Let's Build Something Amazing Together</Fragment>

    <Fragment slot="subtitle">
      I'm excited to work on meaningful projects. If you need an inclusive UX designer or a creative partner, let's connect and make something great.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 gap-1 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>
</Layout>
