---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
const email = import.meta.env.PUBLIC_EMAIL; // Add this line to import the email from the .env.local file

const metadata = {
  title: "Resume - Lukas Yair Lehmann | UX Designer | Accessibility'",
  ignoreTitleTemplate: true,
  description: "Lukas Yair Lehmann's resume page presents his expertise, skills, and certifications in UX design and accessibility for inclusive digital experiences",
  keywords: ["UX Designer, Accessibility, Inclusive Design, User Experience, Lukas Yair Lehmann, Resume, Portfolio, UX Design Skills, UX Design Experience, UX Certifications, Wireframing, Prototyping, Figma, Sketch, Adobe XD, HTML, CSS, Agile, Scrum Master, WCAG, User-Centered Design, Web design, App design, digital products, User-Centered Design, Accessible Web Design Berlin, Inclusive UX Design"]
};
---

<Layout metadata={metadata}>
  <!-- Header Widget ***************** -->
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'Porfolio', href: '/blog' },
        { text: 'About', href: '/about' },
        { text: 'Resume', href: '/resume' },
      ]}
      actions={[
        {
          text: 'Meet me',
          href: `https://calendly.com/lylehmann`,
          target: '_blank',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Download PDF', href: '/assets/Lukas-Lehmann-Resume.pdf', download: true
      },
      { text: 'Connect on LinkedIn', href: 'https://www.linkedin.com/in/lukas-yair-lehmann-460544199/', target: '_blank' },
    ]}
  >
    <Fragment slot="title"> Resume <br> <span class="text-4xl font-semibold text-blue-600 dark:text-blue-300">Lukas Lehmann - UX Designer Specializing in Accessibility</span> </Fragment>

    <Fragment slot="subtitle">
      With a unique blend of technical expertise, empathy, and a passion for accessibility, I design inclusive digital experiences that empower users of all abilities. Whether it's a website, app, or product, my goal is to create solutions that work for everyone.
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->
  <Steps
    id="work"
    title="Work experience"
    items={[
      {
        title:
          'Career Transition to UX/UI Design <br /> <span class="font-normal">Training & Certification, Berlin, Germany</span> <br /> <span class="text-sm font-normal">2020 - Present</span>',
        description: `Shifted to UX/UI design, focusing on creating accessible, user-friendly digital products. <br /> Earned certifications in UX/UI Design, Scrum Master (PSM-I), and Content Marketing. <br /> Worked with tools like Figma, Adobe XD, and Sketch to design accessible digital solutions. <br /> Improved technical skills in HTML, CSS, and CMS platforms to enhance my designs. <br /> Applied agile methods and user-centered design thinking in every project.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Production Editor Books <br /> <span class="font-normal">De Gruyter, Berlin, Germany</span> <br /> <span class="text-sm font-normal">2018 - 2022</span>',
        description: `Managed book projects from start to finish, ensuring quality and timely delivery. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Used Jira to organize project workflows and communicate with authors and editors.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Relocation and Career Development<br /> <span class="font-normal">Heilbad Heiligenstadt, Germany</span> <br /> <span class="text-sm font-normal">2016 - 2018</span>',
        description: `Moved back to Germany and completed courses in project management. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Focused on topics like Classic and Agile Project management, Design Thinking, project metrics, and risk analysis to strengthen my management skills.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Full Service Management Associate<br /> <span class="font-normal">Innodata, Jerusalem, Israel</span> <br /> <span class="text-sm font-normal">2014 - 2016</span>',
        description: `Coordinated journal production, handling tasks like typesetting, editing, and data management. <br /> Developed strong problem-solving and organizational skills.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Webmaster<br /> <span class="font-normal">Leo Baeck Institute, Jerusalem, Israel</span> <br /> <span class="text-sm font-normal">2014 - 2015</span>',
        description: `Led a website overhaul, improving user experience and information architecture. <br /> Trained staff in WordPress and optimized website management.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Caregiver<br /> <span class="font-normal">Shekel, Jerusalem, Israel</span> <br /> <span class="text-sm font-normal">2011 - 2014</span>',
        description: `Supported individuals with special needs, developing strong communication skills based on empathy and respect. <br /> Worked directly with people with disabilities, gaining valuable insights into their diverse needs.</br> Inspired a deep commitment to creating inclusive, accessible digital products.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Webmaster<br /> <span class="font-normal">Hochschule für Jüdische Studien, Heidelberg, Germany </span> <br /> <span class="text-sm font-normal">2006 - 2008</span>',
        description: `Maintained content using HTML and CSS to ensure a functional and user-friendly site.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="volunteering"
    title="Volunteer Experience"
    items={[
      {
        title: `Caregiver<br /> <span class="font-normal">Saint Vincent Ein Kerem, Jerusalem, Israel</span> <br /> <span class="text-sm font-normal">2003 - 2005</span>`,
        description: `Provided care and support to children and teenagers with special needs, developing strong interpersonal skills and empathy.<br>Developed problem-solving abilities and adaptability in challenging situations.<br>Gained insights into accessibility and inclusivity, shaping a lifelong commitment to creating solutions that address diverse user needs.`,
        icon: 'tabler:heart-handshake',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Certifications & Education"
    items={[
      {
        title: `Certificate in Product UX Design <br /> <span class="font-normal">WBS Coding School</span> <br /> <span class="text-sm font-normal">2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Scrum Master (PSM-I) <br /> <span class="font-normal">Scrum.org</span> <br /> <span class="text-sm font-normal">2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Certificate in UX/UI Design, Branded UX / Interaction Design <br /> <span class="font-normal">cimdata Bildungsakademie GmbH</span> <br /> <span class="text-sm font-normal">2023 - 2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Certificate in Content Marketing Management <br /> <span class="font-normal">Webmasters Europe e.V. <br /> <span class="text-sm font-normal">2022</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Certificate in Content Management <br /> <span class="font-normal">WBS Training AG</span> <br /> <span class="text-sm font-normal">2021 - 2022</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Certificate in Project Management <br /> <span class="font-normal">WBS Training AG</span> <br /> <span class="text-sm font-normal">2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Jewish Studies, History  <br /> <span class="font-normal">HfJS Heidelberg, Ruprecht-Karls-Universität Heidelberg</span> <br /> <span class="text-sm font-normal">2005 - 2011</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Key Skills & Expertise"
    subtitle="Explore the skills that drive my ability to create inclusive, user-centered designs and impactful digital solutions."
    columns={2}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Project Management',
        description: `
            <li>Certified Scrum Master (PSM-I) with experience in <strong>Agile workflows</strong>.</li>
            <li>Skilled in tools like Jira and Asana to manage tasks and keep projects on track.</li>
            <li>Organized and able to deliver projects on time.</li>
        `,
      },
      {
        title: 'UX/UI Design',
        description: `
            <li>Experienced in creating <strong> wireframes, prototypes</strong>, and user-friendly designs.</li>
            <li>Proficient in tools like <strong>Figma, Sketch</strong>, and <strong>Adobe XD.</strong></li>
            <li>Focused on making designs simple, clear, and easy to use.</li>
          `,
      },
      {
        title: 'Accessibility and Inclusive Design',
        description: `
            <li>Skilled in designing for <strong>all users</strong>, including those with disabilities.</li>
            <li>Knowledge of accessibility standards like <strong>WCAG</strong>.</li>
            <li>Experienced in testing designs to make them work for everyone.</li>
          `,
      },
      {
        title: 'Front-End Development',
        description: `
            <li>Proficient in <strong> HTML, CSS</strong>, and WordPress.</li>
            <li>Skilled in creating responsive, mobile-friendly websites.</li>
            <li>Knowledge of improving website speed and SEO.</li>
          `,
      },
      {
        title: 'Strategic Thinking and Problem-Solving',
        description: `
            <li>Skilled at seeing the big picture and finding creative ways to solve challenges.</li>
            <li>Adaptable to changing situations, bringing fresh ideas to complex problems.</li>
            <li>Adaptable to changing situations, bringing fresh ideas to complex problems.</li>
          `,
      },
      {
        title: 'Empathy and Communication',
        description: `
            <li>Deeply empathetic, with the ability to understand and prioritize the needs of others.</li>
            <li>Clear communicator, skilled at explaining ideas in simple, approachable ways.</li>
            <li>Collaborative, fostering trust and strong relationships with individuals from all backgrounds.</li>
          `,
      },
    ]}
  />


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Latest Case Studies"
    information="Explore my latest case studies to see how I've applied my skills to real-world projects."
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    actions={[
      {
        variant: 'primary',
        text: 'Email me',
        href: `mailto:${email}`, // Update this line to use the imported email
      },
      {
        variant: 'tertiary',
        text: 'LinkedIn',
        href: 'https://www.linkedin.com/in/lylehmann/',
        target: '_blank',
      },
      {
        variant: 'tertiary',
        text: 'GitHub',
        href: 'https://www.github.com/lylehmann/',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> Let's Connect </Fragment>

    <Fragment slot="subtitle">
      Passionate about creating inclusive, user-centered designs? <br class="hidden md:inline" /> Let's team up to make a
      real impact.
    </Fragment>
  </CallToAction>
</Layout>
