---
---
<button id="error-button">Throw test error</button>
<script>
  function handleClick () {
    throw new Error('This is a test error');
  }
  const btn = document.querySelector("#error-button");
  if (btn) {
    btn.addEventListener("click", handleClick);
  }
</script>
