---
import { Image } from "astro:assets";

const { src, alt = "" } = Astro.props;
---
---

/**
 * BreakoutImage Component
 *
 * @description A component for displaying a landscape image that breaks out of the container
 */
---

<div class="relative -mx-4 md:-mx-8 lg:-mx-[120px] my-8">
  <Image src={src} alt={alt} width={1400} height={700} class="rounded-lg w-full h-auto object-cover" loading="lazy" />
  <div class="absolute inset-0 shadow-inner rounded-lg"></div>
</div>
