---
import { Icon } from "astro-icon/components";

/**
 * CallToAction Component
 *
 * @description A prominent call-to-action section with a title and link
 */
interface Props {
	/**
	 * The title text to display
	 * @default "Get this theme on GitHub"
	 */
	title?: string;
	/**
	 * The URL the button should link to
	 * @default "https://github.com/incluud/accessible-astro-starter"
	 */
	link?: string;
	/**
	 * The text to display on the button
	 * @default "Get Started"
	 */
	linkText?: string;
}

const {
	title = "Hire Me",
	link = "/impressum",
	linkText = "Contact Me",
} = Astro.props;
---

<div class="container">
  <div class="flex flex-col items-center gap-12 call-to-action mt-24 mb-32 px-12 md:px-24 py-20 rounded-xl">
    <h2 class="text-3xl md:text-6xl text-center">{title}</h2>
    <p class="text-lg md:text-2xl text-center">
      I'm actively seeking roles as a Webmaster, UX Engineer, or UX Product Designer,
      where I can leverage my skills in web development and user experience design to create accessible and engaging digital experiences.
      If you're looking for a passionate and dedicated professional to join your team, I'd love to hear from you!
    </p>
    <a href={link} class="text-2xl text-center">
      {linkText}
      <Icon name="lucide:arrow-right" />
    </a>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/mixins' as *;

  .call-to-action {
    position: relative;
    background-image: linear-gradient(
      315deg,
      light-dark(var(--color-primary-100), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-100), var(--color-primary-200))
    );

    color: var(--color-neutral-900);
  }

  a,
  a:visited {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    border: 3px solid var(--color-neutral-900);
    border-radius: var(--radius-s);
    padding: var(--space-s);
    color: var(--color-neutral-900);
    font-weight: bold;
    text-decoration: none;

    @include text-decoration(transparent, currentColor);

    [data-icon] {
      transition: translate var(--animation-speed-fast) var(--cubic-bezier);
    }

    &:where(:hover, :focus) {
      background-color: var(--color-neutral-900);
      color: var(--color-neutral-100);
      text-decoration: underline;

      [data-icon] {
        translate: 5px 0;
      }
    }
  }
</style>
