---
import { Image } from "astro:assets";

const { imgSrc, reverseImg = false } = Astro.props;

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
---

<section class="my-64">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      {!reverseImg ? <Image class="rounded-lg" src={imgSrc} alt="Content media" /> : ''}
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {reverseImg ? <Image class="rounded-lg" src={imgSrc} alt="Content media" /> : ''}
    </div>
  </div>
</section>
