---
import { ExternalLink as ExternalLinkIcon } from "lucide-astro";
import Icon from "../components/ui/Icon.astro";

/**
 * ExternalLink Component
 *
 * @description ExternalLink description
 */
const { href } = Astro.props;
---

<a href={href} class="external-link" target="_blank" rel="noopener noreferrer">
  <slot />
  <Icon name="lucide:external-link" />
  <span class="sr-only">Opens in a new tab</span>
</a>

<style>
  .external-link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);
  }
</style>
