---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
	/**
	 * The source URL for the image
	 */
	src?: string;
}

const { src = "/lukasyairlehmann-hero-img.jpeg" }: Props = Astro.props;
---

<section class="my-1 hero">
  <div class="container">
    <div class="items-center gap-24 grid grid-cols-1 lg:grid-cols-2">
      <div class="flex flex-col items-center md:items-start gap-8">
        <h1 class="text-6xl lg:text-8xl md:text-left text-center">
          <slot><span class="text-gradient">Web & UX Engineer</span> / Designer</slot>
        </h1>
        <p class="text-2xl md:text-left text-center">
          I combine technical know-how, a user-centered approach, and a strong visual sensibility to build accessible, scalable websites and digital tools.
        </p>
        <div class="flex min-[500px]:flex-row flex-col gap-3">
          <a class="button has-icon" href="/portfolio">
            <Icon name="lucide:rocket" />
            Explore My Work
          </a>
        </div>
      </div>
      <Image class="hidden lg:block" src={src} alt="" decoding="async" width={800} height={600} loading="eager" />
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
