<<<<<<< HEAD
---
import { SITE } from "../generated/astrowind-config";
---

<span
  class="self-center ml-2 text-2xl font-bold text-gray-900 rtl:ml-0 rtl:mr-2 md:text-xl whitespace-nowrap dark:text-white"
>
🧠 {SITE?.name}
</span>
||||||| empty tree
=======
---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span>
>>>>>>> upstream/main
