---
import * as Sentry from "@sentry/browser";
Sentry.init({
	dsn: "https://8b57e87cb872bb5986980f35e78830e1@o4509649548935168.ingest.de.sentry.io/4509649551097936",
	integrations: [
		Sentry.browserTracingIntegration(),
		Sentry.browserProfilingIntegration(),
	],
	tracesSampleRate: 1.0,
	tracePropagationTargets: ["localhost", /^https:\/\/yourserver\.io\/api/],
	profilesSampleRate: 1.0,
});
Sentry.captureException(new Error("Sentry Testfehler"));
---
<div>Sentry-Test ausgelöst!</div>
