---
import * as Sentry from "@sentry/browser";

Sentry.init({
  dsn: import.meta.env.PUBLIC_SENTRY_DSN,
  integrations: [
    Sentry.browserTracingIntegration(),
    Sentry.browserProfilingIntegration(),
  ],
  tracesSampleRate: 1.0,
  tracePropagationTargets: ["localhost", /^https:\/\/yourserver\.io\/api/],
  profilesSampleRate: 1.0,
});
Sentry.captureException(new Error("Sentry Testfehler"));
---
<div>Sentry-Test ausgelöst!</div>
