---
import Layout from "~/layouts/PageLayout.astro";
import type { MetaData } from "~/types";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const metadata: MetaData = {
  title,
  description,
};
---

<Layout metadata={metadata}>
  <section class="mx-auto px-4 sm:px-6 lg:px-8 py-16 lg:py-20 max-w-4xl">
    <div
      class="prose-img:shadow-lg dark:prose-invert mx-auto mt-8 prose-img:rounded-md max-w-4xl prose-headings:font-heading prose-headings:font-bold dark:prose-a:text-blue-400 dark:prose-headings:text-slate-300 prose-a:text-blue-600 prose-headings:leading-tighter prose-headings:tracking-tighter prose prose-lg prose-md"
    >
      <slot />
    </div>
  </section>
</Layout>
