---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <div class="flex flex-col min-h-screen">
    <slot name="header">
      <Header {...headerData} isSticky showRssFeed showToggleTheme />
    </slot>
    <main class="flex-1">
      <slot />
    </main>
    <div class="motion-safe:opacity-100 !animate-none relative z-10">
      <slot name="footer">
        <Footer {...footerData} />
      </slot>
    </div>
  </div>
</Layout>
